<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QUIZZ-APP USING API</title>
    <link rel="stylesheet" href="style.css">
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    
</head>
<body>   
        <div class="nav"> 
          <div class="category-div">
               <select class="categories">
                 <option value="category" selected disabled>Category</option>
               </select>
               <select class="type categories">
                     <option value="boolean">Boolean</option>
                     <option value="multiple">Multiple Choice</option>
               </select>
          </div>
          <div class="button">
               <button id="start">Start</button>
          </div>

        </div>
       
        <div class="container">
             <div class="app">
                  <div class="header">
                    <h1>Quizz-APP</h1>
                  </div>
                  <div class="question"></div>
                  <div class="options">
                       <!-- <div class="opt">Options here</div> -->
                  </div>
                  
                  <div class="nextBtn">
                    <button class="btn">Next</button>
                  </div>

             </div>
        </div>   
        
        <audio class="sound" src="correct_answer.mp3"></audio>
        <script src="script.js"></script>
    

</body>
</html>